/**** NORMALIZE ****/
html, body, div, section, article, aside, nav {
	margin: 0;
	padding: 0;
}

/**** GENERAL CLASSES ****/
body {
	font-family: Garamond, Times New Roman;
	background-color: #f0f0f0;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: none;
}

ul {
	padding: 0.4em 0;
}

ul li {
	display: inline;
}

dd, dt {
	margin-left: 0;
}

dt {
	margin-top: 0.5em;
}

dd {
	font-weight: bold;
}

thead tr th {
	background-color: #4CAF50;
	color: white;
	height: 3em;
}

footer {
	padding: 1em;
	color: white;
	background-color: #c9c9c9;
	clear: left;
	text-align: center;
}

tr:nth-child(odd) {
	background-color: #F2F2E4;
}

tr:nth-child(even) {
	background-color: #E6E6C8;
}

.verwijderenknop {
	background-color: #4CAF50;
	color: white;
	height: 3em;
	font-weight: bold;
	font-size: 1em;
	font-family: Garamond, Times New Roman;
	border: solid 1px white;
}

.gaterug {
	width: 100px;
	color: white;
	background-color: #4CAF50;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.wrapper {
	width: 1100px;
	margin: auto;
	padding: 10px;
	min-height: 600px;
}

.center {
	text-align: center;
}

span.fout {
	margin: 0 0.25em;
	padding: 0.25em;
	text-align: center;
	color: red;
	background-color: #ffc6c6;
	border: solid 1px red;
}

div.fout {
	margin: 1em 0em;
	padding: 0.25em;
	text-align: center;
	color: red;
	background-color: #ffc6c6;
	border: solid 1px red;
}

div.melding {
	margin: 1em 0em;
	padding: 0.25em;
	text-align: center;
	color: #008080;
	background-color: #d9f0d5;
	border: solid 1px #008080;
}

.fout:EMPTY {
	display: none;
}

/**** 500 ****/
#exception {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}

#exception_left {
	float: left;
	max-width: 578px;
	margin: 0;
	padding: 0;
}

#
#exception_right {
	float: left;
	min-width: 222px;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

/**** TOP ****/
#top ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#top ul li {
	float: left;
	display: inline;
	color: white;
	border-right: 1px solid #bbb;
}

#top ul li:last-child {
	border-right: none;
}

#top ul li a {
	color: white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#top ul li a:hover {
	background-color: #4CAF50;
}

#top .right {
	float: right;
	padding: 14px 16px;
}

/**** GENRES ****/
.genres ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.genres ul li {
	float: left;
	display: inline;
	color: white;
}

.genres ul li a {
	color: white;
	display: block;
	text-align: center;
	padding: 7px 8px;
	text-decoration: none;
}

.genres ul li a:hover {
	background-color: #111;
}

.activemenuitem {
	display: block;
	background-color: #4CAF50;
	padding: 7px 8px;
}
/**** FILMDETAIL ****/
div.filmdetail {
	width: 400px;
}

aside.filmdetail {
	float: left;
	margin: 0;
	padding: 0;
}

aside.filmdetail img {
	width: 150px;
}

section.filmdetail {
	margin-left: 170px;
	overflow: hidden;
}

details.filmdetail {
	margin-left: 170px;
	padding: 1em;
	overflow: hidden;
}