body {
	font-family: Garamond, Times New Roman;
	background-color: #F5F5F5;
}

a {
	color: grey;
	text-decoration: none;
}

a:hover{
	color: black;
	text-decoration: none;
}

ul{

	padding: 0.4em 0;
}

.genres ul {
	background-color: silver;
	padding: 0.4em 0;
}

nav li {
	display: inline;
	padding-left: 0.5em;
	text-decoration: none;
	vertical-align: middle;
}

nav li a {
	color: white;
	text-decoration: none;
}

nav li a:hover {
	color: grey;
	text-decoration: none;
}
dd,dt {
	margin-left: 0;
}

dt {
	margin-top: 0.5em;
}

dd {
	font-weight: bold;
}