/* NORMALIZE */
html, body, div, section, article, aside, nav {
	margin: 0;
	padding: 0;
}
.wrapper {
	margin: 10 10 10 10;
}
.center {
	text-align: center;
}

.fill {
	width: 100%;
	margin: 0 auto;
}
/**** TOPMENU ****/
#topmenu {
	background-color: silver;
	text-align: left;
	font-color: #F5F5F5;
}

#topmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#topmenu ul li {
	display: inline;
}

#topmenu ul li a {
	display: inline-block;
	padding-right: 1em;
	text-decoration: none;
}

#topmenu ul li a:hover {
	color: grey;
	text-decoration: none;
}

body {
	font-family: Garamond, Times New Roman;
	background-color: #F5F5F5;
}

a {
	color: grey;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

ul {
	padding: 0.4em 0;
}

.genres ul {
	background-color: silver;
	padding: 0.4em 0;
}

nav li {
	display: inline;
	padding-left: 0.5em;
	text-decoration: none;
	vertical-align: middle;
}

nav li a {
	color: white;
	text-decoration: none;
}

nav li a:hover {
	color: grey;
	text-decoration: none;
}

dd, dt {
	margin-left: 0;
}

dt {
	margin-top: 0.5em;
}

dd {
	font-weight: bold;
}